*{
	outline: 1px solid red !important;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing:border-box;
}
.screenshot{
	max-width: 460px;
	margin-right: 20px;
	display: flex;
}
.description	{
	max-width:  705px;
	font-family: sans-serif;
	font-size: 14pt;
	color: #7C8B88;
}
.app{
	display: -webkit-flex;
	display: flex;
}
.imgSun{
	width: 200px;
	height: 200px;
}
.title{
	font-family: Serif;
	background-color: #33BEBE;
	max-width: 925px;
	max-height: 250px;
	color: white;
	padding: 20px;
	margin: 0;
}
